<% require 'securerandom' %>

<div data-role="page" data-dom-cache="false">
  
  <div data-role='header'>
    <h1>Session choice</h1>
  </div><!-- /header -->
  
  <div data-role='main'>
	<div data-role="control-group" data-type="horizontal">
      <form method='get' action="<%= sessions_path %>">
        <label>Join earlier session:</label>
        <input type="text" name="session_token">
        <%= submit_tag("Go", :name=>'load', :'data-role'=>'button', :'data-icon'=>'arrow-r') %>
      </form>
    </div> <!-- control-group -->
  </div><!-- /main -->

  <div data-role='footer' style="text-align:center;">
    <a href=<%= new_session_path %> data-role="button" data-icon="action">Create new</a>
  </div>

</div><!-- /page -->
