<div data-role="page" data-dom-cache="false">
  
  <div data-role='header'>
    <h1>Show session</h1>
  </div><!-- /header -->
  
  <div data-role='body'>
    <%= "Session number is: " + @session.token_id %>
    <br>
    Back to  <%= link_to "Index", sessions_path %>
  </div><!-- /body -->

</div><!-- /page -->
