<div>
  <%= label_tag("task_name", (:name).capitalize) %>
  <%= text_field(:task, :name) %>
</div>
<div>
  <%= label_tag("task_settings", (:settings).capitalize) %>
  <%= text_area(:task, :settings) %>
</div>
