    <div data-role="page" data-dom-cache="false">
 
        <div data-role="header">
            <h1>TaskWatch</h1>
		</div><!-- /header -->
 
        <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
				<% @tasks.each do |task| %>
					<li>
						<a href="#" data-icon="location"><%= task.name %></a>
						<a href=<%= edit_task_path(task) %> data-icon="edit">Edit</a>
					</li>
				<% end %>
				<li data-icon="location">
					<%= link_to 'New task', new_task_path %>
				</li>
            </ul>
        </div><!-- /content -->
 
        <div data-role="footer">
			<table>
				<tr>
					<td>Logging</td>
					<td><a href="#" data-role="button" data-icon="power">On</a></td>
					<td><a href="#" data-role="button" data-icon="power">Off</a></td>
				</tr>
			</table>
        </div><!-- /footer -->
 
    </div><!-- /page -->
