		<div data-role="page">
 
			<div data-role="header">
				<h1>TaskWatch</h1>
			</div><!-- /header -->
 
			<div role="main" class="ui-content">
				<ul data-role="listview" data-inset="true">
					<li>
						<a href="#">Umwelt udvikling</a>
						<a href="#" data-role="button" data-icon="edit"></a>
					</li>
					<li>
						<a href="#">Umwelt konsulentarb.</a>
						<a href="#" data-role="button" data-icon="edit"></a>
					</li>
					<li>
						<a href="#">Xenia support</a>
						<a href="#" data-role="button" data-icon="edit"></a>
					</li>
					<li>
						<a href="#">Timemanagement udvikling</a>
						<a href="#" data-role="button" data-icon="edit"></a>
					</li>
					<li>
						<a href="#">Fakturering</a>
						<a href="#" data-role="button" data-icon="edit"></a>
					</li>
				</ul>
			</div><!-- /content -->
			<div data-role="footer">
				<table>
					<tr>
						<td>Logging</td>
						<td><a href="#" data-role="button" data-icon="power">On</a></td>
						<td><a href="#" data-role="button" data-icon="power">Off</a></td>
					</tr>
				</table>
			</div><!-- /footer -->
		</div><!-- /page -->
